[submodule "lib/esp-idf"]
	path = lib/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
