#!/usr/bin/env python
PACKAGE = "ros_controllers"
from dynamic_reconfigure.parameter_generator_catkin import *

hl_gen = ParameterGenerator()
ll_gen = ParameterGenerator()

ll_gen.add("attitude_p_gain_x", double_t, 0, "attitude_p_gain_x",    6.5, 0,   10)
ll_gen.add("attitude_p_gain_y", double_t, 0, "attitude_p_gain_y",    6.5, 0,   10)
ll_gen.add("attitude_p_gain_z", double_t, 0, "attitude_p_gain_z",    6.5, 0,   10)

ll_gen.add("rate_p_gain_x", double_t, 0, "rate_p_gain_x",    1.2, 0,   10)
ll_gen.add("rate_p_gain_y", double_t, 0, "rate_p_gain_y",    1.2, 0,   10)
ll_gen.add("rate_p_gain_z", double_t, 0, "rate_p_gain_z",    1.2, 0,   10)

ll_gen.add("rate_i_gain_x", double_t, 0, "rate_i_gain_x",    0.0, 0,   10)
ll_gen.add("rate_i_gain_y", double_t, 0, "rate_i_gain_y",    0.1, 0,   10)
ll_gen.add("rate_i_gain_z", double_t, 0, "rate_i_gain_z",    0.1, 0,   10)

ll_gen.add("rate_d_gain_x", double_t, 0, "rate_d_gain_x",    0.002, 0,   10)
ll_gen.add("rate_d_gain_y", double_t, 0, "rate_d_gain_y",    0.002, 0,   10)
ll_gen.add("rate_d_gain_z", double_t, 0, "rate_d_gain_z",    0.002, 0,   10)

ll_gen.add("rate_i_limits_x", double_t, 0, "rate_i_limits_x",    0.3, 0,   10)
ll_gen.add("rate_i_limits_y", double_t, 0, "rate_i_limits_y",    0.3, 0,   10)
ll_gen.add("rate_i_limits_z", double_t, 0, "rate_i_limits_z",    0.3, 0,   10)



hl_gen.add("position_p_gain_x", double_t, 0, "position_p_gain_x",    0.5, 0,   10)
hl_gen.add("position_p_gain_y", double_t, 0, "position_p_gain_y",    0.1, 0,   10)
hl_gen.add("position_p_gain_z", double_t, 0, "position_p_gain_z",    0.1, 0,   10)

hl_gen.add("velocity_p_gain_x", double_t, 0, "velocity_p_gain_x",    3.0, 0,   10)
hl_gen.add("velocity_p_gain_y", double_t, 0, "velocity_p_gain_y",    1.0, 0,   10)
hl_gen.add("velocity_p_gain_z", double_t, 0, "velocity_p_gain_z",    1.0, 0,   10)

hl_gen.add("velocity_i_gain_x", double_t, 0, "velocity_i_gain_x",    0.1, 0,   10)
hl_gen.add("velocity_i_gain_y", double_t, 0, "velocity_i_gain_y",    0.0, 0,   10)
hl_gen.add("velocity_i_gain_z", double_t, 0, "velocity_i_gain_z",    0.0, 0,   10)

hl_gen.add("velocity_d_gain_x", double_t, 0, "velocity_d_gain_x",    0.1, 0,   10)
hl_gen.add("velocity_d_gain_y", double_t, 0, "velocity_d_gain_y",    0.1, 0,   10)
hl_gen.add("velocity_d_gain_z", double_t, 0, "velocity_d_gain_z",    0.1, 0,   10)

hl_gen.add("velocity_i_limits_x", double_t, 0, "velocity_i_limits_x",    2.0, 0,   10)
hl_gen.add("velocity_i_limits_y", double_t, 0, "velocity_i_limits_y",    1.0, 0,   10)
hl_gen.add("velocity_i_limits_z", double_t, 0, "velocity_i_limits_z",    1.0, 0,   10)

hl_gen.add("max_angle", double_t, 0, "max_angle",    20.0, 0,   45)


exit(
    hl_gen.generate(PACKAGE, "rocket_pid_config", "rocket_high_level_pid")
    or ll_gen.generate(PACKAGE, "rocket_pid_config", "rocket_low_level_pid")
)
