#!/usr/bin/env python
PACKAGE = "filter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("order",        int_t, 0, "Order of the filter",    3, 1,  10)
gen.add("cutoff",        double_t, 0, "Cutoff frequency of the filter",    0.1, 0,  1000)
gen.add("sample_rate",        double_t, 0, "Sample rate of the filter",    1, 0,  500)

exit(gen.generate(PACKAGE, "filter", "ButterworthFilter"))
