#!/usr/bin/env python
PACKAGE = "filter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
#       name            type     level     description         default  min  max
gen.add("alpha",        double_t, 0, "Alpha off the filter",    1, 0,  1)

exit(gen.generate(PACKAGE, "filter", "LowPassFilter"))
