#!/usr/bin/env python
PACKAGE = "filter"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
#       name            type     level     description         default  min  max
gen.add("window_size",        int_t, 0, "Window size of the filter",    3, 1,  100)

exit(gen.generate(PACKAGE, "filter", "MedianFilter"))
