---
BasedOnStyle: LLVM
Language: Cpp
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in "" with extension, i.e. local headers
  - Regex:           '"[[:alnum:]\/_-]+\.h+p*"'
    Priority:        2
  # Headers in <> with extension, i.e. external libraries headers
  - Regex:           '<[[:alnum:]\/_-]+\.h+p*>'
    Priority:        1
  # Headers in <> without extension, i.e. usually c/c++ standard library headers
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        1
IndentWidth:     4
TabWidth: '4'
...
